{% extends 'base.html.twig' %}

{% block title %}Next Actions{% endblock %}

{% block main %}
    <div class="list-group">
    {% for action in nextActions %}
        <a href="{{ action.url }}" class="list-group-item list-group-item-action">
            {% if action.project %}
                <h2>{{ action.project.name }}</h2> -
            {% endif %}
            {{ action.name }}
            {% if action.dueDate %}
                <span class="badge badge-primary badge-pill">{{ action.dueDate|date("d/m/Y") }}</span>
            {% endif %}
            {% for label in action.labels %}
                <span class="badge badge-info badge-pill">{{ label.name }}</span>
            {% endfor %}
        </a>
    {% endfor %}
    </div>
{% endblock %}
